@import '../Vars.scss';
@import 'bootstrap';

.header {
    align-items: center;
    color: $primary-color;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }

  .header--background-primary {
      background-color: $primary-color;
      color: $white-color;
  }
  
  .header__img {
    margin-left: 30px;
    width: 200px;
  }
  
  .header__menu {
      margin-right: 30px;
  }
  
  .header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px;
    position: absolute;
    width: 200px;
    border-radius: 30px;
    text-align: right;
  }
  
  .header__menu:hover ul, ul:hover {
      display: block;
  }
  
  .header__menu li {
    margin: 10px 0px;
  }
  
  .header__menu li a {
    color: $primary-color;
    text-decoration: none;
  }
  
  .header__menu li a:hover {
    text-decoration: underline;
  }
  
  .header__menu--profile {
      padding: 15px;
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      box-shadow: $shadow;
    border-radius: 30px;
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .header__menu--profile img {
    border-radius: 50%;
    margin-right: 8px;
    width: 40px;
  }

  .header__menu--profile h3 {
      margin-left: 10px;
    font-family: $amaranth-font;
  }

  .btn-custom {
      @extend .btn;
      color: $white-color;
      padding: 15px 20px;
      width: 150px;
  }

  .btn-dog-secondary {
      @extend .btn;
      color: $white-color;
      padding: 15px 20px;
      border-radius: 20px;
      width: 150px;
      background-color: $secondary-color;
  }