.FormSignUp {
    margin-top: 50px;
}

.FormSignUp__Avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.FormSignUp__Avatar-img {
    height: 350px;
}