.wrapper {
  margin-top: 50px;
  padding: 0 60px;
  height: calc(100vh - 175px);
}

.cards {
  width: 70%;
  float: left;
  padding-right: 20px;
}

.cards__title {
  display: flex;
  justify-content: space-between;
}

.cards__items {
  margin-top: 15px;
  max-height: calc(100vh - 190px);
  overflow: scroll;
}

.bg-dogger-primary {
  background-color: #252D51;
}

.bg-dogger-secondary {
  background-color: #F8F2E4;
}

.sidebar {
  width: 30%;
  float: left;
  padding: 0 20px;
  max-height: calc(100vh - 125px);
  overflow: scroll;
}

.btn-dogger-post {
  background-color: #252D51;
  color: #ffffff;
  font-weight: 900;
  height: 50px;
  padding: 4px 40px;
  border-radius: 10px;
  border: 0;
}

.dogs {
  width: 100%;
  border-radius: 30px;
  padding: 25px 50px;
  margin-bottom: 20px;
}

.dogs ul {
  list-style: none;
  padding: 0;
}

.dogs__list {
  margin-top: 20px;
}

.dogs__list li {
  display: flex;
  align-items: center;
}

.dogs__list li h4 {
  margin: 0;
}

.dogs__list li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.dogs__list li ul li {
  float: left;
  margin-left: 5px;
  color: #888888;
  margin-bottom: 10px;
}

.dogs__button {
  height: 30px;
  width: 30px;
  padding: 30px;
  border-radius: 50%;
  border: 2px solid #F9A971;
  color: #F9A971;
  font-size: 30pt;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
