@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

$amaranth-font: 'Amaranth', sans-serif;
$open-font: 'Open Sans', sans-serif;
$primary-color: #252D51;
$secondary-color: #F9A917;
$info-color: #F8F2E4;
$grey-color: #D3D3D3;
$white-color: #FFFFFF;
$black-color: #000000;
$shadow: 0px 2px 15px 0px rgba(100,100,100,0.5);